# Imports

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

# Spark session

In [5]:
spark = (SparkSession.builder.appName("DataFrameP").master("local[4]")
         .config("spark.dynamicAllocation.enabled", "false")
         .config("spark.sql adaptive.enabled", "false")
         .getOrCreate())
sc = spark.sparkContext
spark

24/09/16 08:38:02 WARN Utils: Your hostname, Tulasis-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.9 instead (on interface en0)
24/09/16 08:38:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/16 08:38:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Create Data frame using RDD

In [7]:
data = [
    [1, 'Alice', 25],
    [2, 'Bob', 30],
    [3, 'Charlie', 22],
    [4, 'David', 28],
    [5, 'Eve', 27],
    [6, 'Frank', 33],
    [7, 'Grace', 26],
    [8, 'Hannah', 31],
    [9, 'Ivy', 29],
    [10, 'Jack', 24]
]

In [8]:
dataRDD = sc.parallelize(data)

In [9]:
# create data frame from RDD
dataDF = dataRDD.toDF()
dataDF.show()

+---+-------+---+
| _1|     _2| _3|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 22|
|  4|  David| 28|
|  5|    Eve| 27|
|  6|  Frank| 33|
|  7|  Grace| 26|
|  8| Hannah| 31|
|  9|    Ivy| 29|
| 10|   Jack| 24|
+---+-------+---+

In [10]:
# Define cloumn names for Data Frames
dataDF = dataDF.toDF("S.NO","Name","Age")
dataDF.show()

+----+-------+---+
|S.NO|   Name|Age|
+----+-------+---+
|   1|  Alice| 25|
|   2|    Bob| 30|
|   3|Charlie| 22|
|   4|  David| 28|
|   5|    Eve| 27|
|   6|  Frank| 33|
|   7|  Grace| 26|
|   8| Hannah| 31|
|   9|    Ivy| 29|
|  10|   Jack| 24|
+----+-------+---+

In [11]:
# print data frame schema

dataDF.printSchema()

root
 |-- S.NO: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

# Create Data Fame from Data Source

In [13]:
# dataDF = spark.createDataFrame(data,["S.No","Name","Age"])
dataDF = spark.createDataFrame(data,"SNO : long, Name: string, Age: long") # alternative
dataDF.show()

+---+-------+---+
|SNO|   Name|Age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 22|
|  4|  David| 28|
|  5|    Eve| 27|
|  6|  Frank| 33|
|  7|  Grace| 26|
|  8| Hannah| 31|
|  9|    Ivy| 29|
| 10|   Jack| 24|
+---+-------+---+

In [14]:
dataDF.printSchema()

root
 |-- SNO: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

# Create Data Frame using a file

In [16]:
# file path /Users/tulasiramreddygade/Downloads/apache-spark-3-fundamentals/DataFiles/Raw/YellowTaxis_202210.csv
path = "/Users/tulasiramreddygade/Downloads/apache-spark-3-fundamentals/DataFiles/Raw/YellowTaxis_202210.csv"
yellowTaxisDF = spark.read.csv(path)

yellowTaxisDF.take(3)

[Row(_c0='VendorID', _c1='tpep_pickup_datetime', _c2='tpep_dropoff_datetime', _c3='passenger_count', _c4='trip_distance', _c5='RatecodeID', _c6='store_and_fwd_flag', _c7='PULocationID', _c8='DOLocationID', _c9='payment_type', _c10='fare_amount', _c11='extra', _c12='mta_tax', _c13='tip_amount', _c14='tolls_amount', _c15='improvement_surcharge', _c16='total_amount', _c17='congestion_surcharge', _c18='airport_fee'),
 Row(_c0='1', _c1='2022-10-01T05:33:41.000+05:30', _c2='2022-10-01T05:48:39.000+05:30', _c3='1.0', _c4='1.7', _c5='1.0', _c6='N', _c7='249', _c8='107', _c9='1', _c10='9.5', _c11='3.0', _c12='0.5', _c13='2.65', _c14='0.0', _c15='0.3', _c16='15.95', _c17='2.5', _c18='0.0'),
 Row(_c0='2', _c1='2022-10-01T05:44:30.000+05:30', _c2='2022-10-01T05:49:48.000+05:30', _c3='2.0', _c4='0.72', _c5='1.0', _c6='N', _c7='151', _c8='238', _c9='2', _c10='5.5', _c11='0.5', _c12='0.5', _c13='0.0', _c14='0.0', _c15='0.3', _c16='9.3', _c17='2.5', _c18='0.0')]

In [17]:
# Take taxi column from file header row
yellowTaxisDF = spark.read.option("header","true").csv(path)

yellowTaxisDF.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- congestion_surcharge: string (nullable = true)
 |-- airport_fee: string (nullable = true)

## Read TSV file

In [19]:
greenTaxiFilePath = "/Users/tulasiramreddygade/Downloads/apache-spark-3-fundamentals/DataFiles/Raw/GreenTaxis_*.cs"
greenTaxiDF = spark.read.option("header","true").option("delimiter","\t").csv(path)

## Read json file

In [21]:
pathToJsonFile = "/Users/tulasiramreddygade/Downloads/apache-spark-3-fundamentals/DataFiles/Raw/PaymentTypes.json"

paymentTypeJSON = spark.read.json(pathToJsonFile)

# spark.read.format("formatType").Load(path) # Read any type of data 
paymentTypeJSON.show()

+-----------+-------------+
|PaymentType|PaymentTypeID|
+-----------+-------------+
|Credit Card|            1|
|       Cash|            2|
|  No Charge|            3|
|    Dispute|            4|
|    Unknown|            5|
|Voided Trip|            6|
+-----------+-------------+

# Applying Schema

In [39]:
yellowTaxiDF = spark.read.option("header","true").csv(path)

yellowTaxiDF.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- congestion_surcharge: string (nullable = true)
 |-- airport_fee: string (nullable = true)

## InferingSchema

In [43]:
yellowTaxiDFSchemaInference = spark.read.option("header","true").option("inferSchema","true").csv(path)

yellowTaxiDFSchemaInference.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

## Define own schema

In [61]:
yellowTaxiSchema = (StructType([
    StructField("VendorId",IntegerType(),True),
    StructField("tpep_pickup_datetime",TimestampType(),True),
    StructField("tpep_dropoff_datetime",TimestampType(),True),
    StructField("passenger_count",DoubleType(),True),
    StructField("trip_distance",DoubleType(),True),
    StructField("RatecodeID",DoubleType(),True),
    StructField("store_and_fwd_flag",StringType(),True),
    StructField("PULocationID",IntegerType(),True),
    StructField("DOLocationID",IntegerType(),True),
    StructField("payment_type",IntegerType(),True),
    StructField("fare_amount",DoubleType(),True),
    StructField("extra",DoubleType(),True),
    StructField("mta_tax",DoubleType(),True),
    StructField("tip_amount",DoubleType(),True),
    StructField("tolls_amount",DoubleType(),True),
    StructField("improvement_surcharge",DoubleType(),True),
    StructField("total_amount",DoubleType(),True),
    StructField("congestion_surcharge",DoubleType(),True),
    StructField("airport_fee",DoubleType(),True)
]))

In [63]:
yellowTaxiDFWithSchema = spark.read.option("header","true").schema(yellowTaxiSchema).csv(path)

yellowTaxiDFWithSchema.printSchema()

root
 |-- VendorId: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

## Define schema for json file

In [70]:
TaxiBasesPath = '/Users/tulasiramreddygade/Downloads/apache-spark-3-fundamentals/DataFiles/Raw/TaxiBases.json'

In [80]:
TaxiBasesDF = spark.read.option("multiline",True).json(TaxiBasesPath)

TaxiBasesDF.take(1)

[Row(Address=Row(Building='636', City='NEW YORK', Postcode=10001, State='NY', Street='WEST   28 STREET'), Date='08/15/2019', Entity Name='VIER-NY,LLC', GeoLocation=Row(Latitude=40.75273, Location='(40.75273, -74.006408)', Longitude=-74.006408), License Number='B02865', SHL Endorsed='No', Telephone Number=6466657536, Time='18:03:31', Type of Base='BLACK CAR BASE')]

In [84]:
TaxiBasesDF.printSchema()

root
 |-- Address: struct (nullable = true)
 |    |-- Building: string (nullable = true)
 |    |-- City: string (nullable = true)
 |    |-- Postcode: long (nullable = true)
 |    |-- State: string (nullable = true)
 |    |-- Street: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Entity Name: string (nullable = true)
 |-- GeoLocation: struct (nullable = true)
 |    |-- Latitude: double (nullable = true)
 |    |-- Location: string (nullable = true)
 |    |-- Longitude: double (nullable = true)
 |-- License Number: string (nullable = true)
 |-- SHL Endorsed: string (nullable = true)
 |-- Telephone Number: long (nullable = true)
 |-- Time: string (nullable = true)
 |-- Type of Base: string (nullable = true)

In [88]:
TaxiBasesDFInferSchema = spark.read.option("multiline",True).option("header",True).option("inferSchema",True).json(TaxiBasesPath)

TaxiBasesDFInferSchema.show()
TaxiBasesDFInferSchema.printSchema()

+--------------------+----------+--------------------+--------------------+--------------+------------+----------------+--------+--------------------+
|             Address|      Date|         Entity Name|         GeoLocation|License Number|SHL Endorsed|Telephone Number|    Time|        Type of Base|
+--------------------+----------+--------------------+--------------------+--------------+------------+----------------+--------+--------------------+
|{636, NEW YORK, 1...|08/15/2019|         VIER-NY,LLC|{40.75273, (40.75...|        B02865|          No|      6466657536|18:03:31|      BLACK CAR BASE|
|{131, BRONX, 1046...|08/15/2019|VETERANS RADIO DI...|{40.86927, (40.86...|        B02634|          No|      7183647878|18:03:31|         LIVERY BASE|
|{115-54, ELMONT, ...|08/15/2019|      ALPHA VAN LINE|{40.693473, (40.6...|        B80094|          No|      5162850750|18:03:31|COMMUTER VAN AUTH...|
|{866, BROOKLYN, 1...|08/15/2019|A.T.B. CAR AND LI...|{40.667838, (40.6...|        B02677|          No|      7184854444|18:03:31|         LIVERY BASE|
|{57-48, MASPETH, ...|08/15/2019|KYOEI LIMOUSINE, ...|{40.722961, (40.7...|        B02152|          No|      7183263258|18:03:31|    LUXURY/LIMOUSINE|
|{31-00, LIC, 1110...|08/15/2019|ENDOR CAR & DRIVE...|{40.742082, (40.7...|        B02844|          No|      4154758459|18:03:31|      BLACK CAR BASE|
|{68-20A, FRESH ME...|08/15/2019|SKYWAY EXECUTIVE ...|{40.733337, (40.7...|        B02841|          No|      7183595959|18:03:31|      BLACK CAR BASE|
|{22-11, LIC, 1110...|08/15/2019|FARRELL'S LEASING...|{40.757077, (40.7...|        B00472|          No|      2128616300|18:03:31|    LUXURY/LIMOUSINE|
|{429, BROOKLYN, 1...|08/15/2019|CITY CAR SERVICE ...|{40.668473, (40.6...|        B01739|          No|      7184182222|18:03:31|         LIVERY BASE|
|{41-31, FLUSHING,...|08/15/2019|YELLOWSTONE TRANS...|{40.758114, (40.7...|        B00248|          No|      7185397777|18:03:31|         LIVERY BASE|
|{1811, BROOKLYN, ...|08/15/2019|ELTRI CAR SERVICE...|{40.612302, (40.6...|        B02861|          No|      7183820100|18:03:31|      BLACK CAR BASE|
|{104-08, RICHMOND...|08/15/2019|V.J. CAR & LIMO S...|{40.691906, (40.6...|        B02093|          No|      7186417777|18:03:31|         LIVERY BASE|
|{6701, BROOKLYN, ...|08/15/2019|ADVANTAGE LIMO OF...|{40.603784, (40.6...|        B02980|          No|      3478655876|18:03:31|    LUXURY/LIMOUSINE|
|{636, NEW YORK, 1...|08/15/2019|          ELF-NY,LLC|{40.75273, (40.75...|        B02878|          No|      6466657540|18:03:31|      BLACK CAR BASE|
|{85-02, REGO PARK...|08/15/2019|ALTA MEDICAL TRAN...|{40.717275, (40.7...|        B90691|          No|      7188972582|18:03:31|    PARATRANSIT BASE|
|{565, BRONX, 1046...|08/15/2019|   RAELEEN CAR CORP.|{40.755734, (40.7...|        B02840|          No|      9176031815|18:03:31|      BLACK CAR BASE|
|{2421, BROOKLYN, ...|08/15/2019|ASCONA CAR SERVIC...|{40.595422, (40.5...|        B02658|          No|      7186461611|18:03:31|         LIVERY BASE|
|{6318, BROOKLYN, ...|08/15/2019|CHICO EXPRESS LIM...|{40.625609, (40.6...|        B02331|          No|      7182367777|18:03:31|      BLACK CAR BASE|
|{32-10, LIC, 1110...|08/15/2019| LYFE AUTO GROUP INC|{40.734944, (40.7...|        B02969|          No|      7187066234|18:03:31|      BLACK CAR BASE|
|{626, UNIONDALE, ...|08/15/2019|SAROS TRANSPORTAT...|{40.638931, (40.6...|        B02651|          No|      7185640084|18:03:31|      BLACK CAR BASE|
+--------------------+----------+--------------------+--------------------+--------------+------------+----------------+--------+--------------------+
only showing top 20 rows

root
 |-- Address: struct (nullable = true)
 |    |-- Building: string (nullable = true)
 |    |-- City: string (nullable = true)
 |    |-- Postcode: long (nullable = true)
 |    |-- State: string (nullable = true)
 |    |-- Street: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Entity Name: string (nullable = true)
 |-- GeoLocation: struct (nullable = true)
 |    |-- Latitude: double (nullable = true)
 |    |-- Location: string (nullable = true)
 |    |-- Longitude: double (nullable = true)
 |-- License Number: string (nullable = true)
 |-- SHL Endorsed: string (nullable = true)
 |-- Telephone Number: long (nullable = true)
 |-- Time: string (nullable = true)
 |-- Type of Base: string (nullable = true)

In [96]:
TaxiBasesDFSchema = StructType([
    StructField("Address",StructType([
        StructField("Building",StringType(),True),
        StructField("City",StringType(),True),
        StructField("Postcode",LongType(),True),
        StructField("State",StringType(),True),
        StructField("Street",StringType(),True)
    ]),True),
    StructField("Date",StringType(),True),
    StructField("Entity Name",StringType(),True),
    StructField("GeoLocation",StructType([
        StructField("Latitude",DoubleType(),True),
        StructField("Location",StringType(),True),
        StructField("Longitude",DoubleType(),True)
    ])),
    StructField("License Number",StringType(),True),
    StructField("SHL Endorsed",StringType(),True),
    StructField("Telephone Number",LongType(),True),
    StructField("Time",StringType(),True),
    StructField("Type of Base",StringType(),True)
])

In [100]:
TaxiBasesDFWithSchema = spark.read.option("multiline",True).schema(TaxiBasesDFSchema).json(TaxiBasesPath)

TaxiBasesDFWithSchema.show()
TaxiBasesDFWithSchema.printSchema()

ConnectionRefusedError: [Errno 61] Connection refused